/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

/* Remove arrow from input numbers */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

textarea:focus,
input:focus {
  outline: none;
}

/* HEADER */

.header-container {
  width: 100vw;
  background-color: white;
  height: 125px;
  display: flex;
  flex-direction: column;

  /* background-color: blue; */
}

.header {
  width: 1200px;
  margin: 0 auto;
  /* width: 1200px; */
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.logo {
  height: 40px;
  width: auto;
}

.search-bar-container {
  display: flex;
  align-items: center;
}
.magnifying-glass-icon {
  color: #bbbbbb;
  font-size: 16px;
  margin-right: -30px;
  z-index: 1;
  margin-top: 10px;
}
.search-bar {
  width: 630px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #f5f6f7;
  margin-top: 10px;
  padding-left: 40px;
  font-size: 16px;
}

.header-button-container {
  display: flex;
  gap: 20px;
}

.header-button {
  display: flex;
  height: 30px;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.white-button {
  background-color: white;
  color: #007580;
  border: 1px solid #007580;
  text-decoration: none;
}

.green-button {
  background-color: #007580;
  color: white;
}
.red-button {
  background-color: #c2175b;
  color: white;
}

.filters-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.filters-container span {
  font-size: 12px;
  margin-right: 20px;
}

/* HOME PAGE */

.banner-container {
  width: 100vw;
  height: 540px;
  background-image: url("./assets/images/banner-wide.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 125px;
  position: relative;
}

.hero-container {
  max-width: 1200px;

  margin: 0 auto;
}

.hero {
  background-color: white;
  font-size: 32px;
  height: 300px;
  width: 380px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border-radius: 5px;
}

.hero-button {
  width: 300px;
  border: none;
  height: 40px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.hero span {
  font-size: 14px;
  color: #007580;
  line-height: 20px;
}

.hero-form {
  bottom: 0;
  height: 80px;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/* OFFERCARD */

.offers {
  margin-top: 50px;
  border: 2x red solid;
  display: flex;

  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.offer {
  /* border: 2px green solid; */
  width: calc(100% / 4 - 20px);
  margin-right: 20px;
  height: 480px;
  padding: 10px;
  margin-bottom: 20px;
}

.offer-user-info {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}
.offer-user-info-picture {
  background-color: #007580;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 12px;
}

.offer-user-info-username {
  font-size: 12px;
  color: #999999;
}

.offer-image-container {
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
  cursor: pointer;
}

.offer-image {
  height: 355px;
  width: 100%;
  object-fit: contain;
}

.offer-description-containter {
  display: flex;
  padding: 10px 25px;

  flex-direction: column;
}

.offer-details {
  color: #757575;
  font-size: 12px;
  line-height: 16px;
}

/* OFFER PAGE */

.grey-background {
  background-color: #ebedee;
  height: 100vh;
}

.offer-page-container {
  max-width: 1000px;
  /* border: black 1px solid; */
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  gap: 50px;
}

.offer-page-img-container {
  width: 65%;
  height: 630px;
  /* border: #007580 1px solid; */
  display: flex;
}
.offer-page-img {
  height: 630px;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.offer-page-info {
  width: 35%;
  background-color: white;
  padding: 50px 30px;
}
.offer-page-details-price {
  font-size: 20px;
}

.offer-page-details {
  display: flex;
  margin-top: 20px;
  height: 125px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ebedee;
  flex-direction: column;
}
.offer-page-details-row {
  display: flex;
}

.offer-page-details-keys {
  color: #b9bbbc;
  font-size: 14px;
  font-weight: 300;
  width: 50%;
}
.offer-page-details-values {
  color: #757575;
  font-size: 14px;
}

.offer-page-details-main {
  height: 125px;
  margin-bottom: 50px;
}

.offer-page-details-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}

.offer-page-details-description {
  font-size: 14px;
  line-height: 25px;
  color: #757575;
}

.offer-page-details-user-info {
  display: flex;
  gap: 30px;
  height: 50px;
  align-items: center;
}

.offer-page-details-user-picture {
  background-color: rgb(110, 44, 44);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.offer-page-details-user-username {
  font-size: 14px;
}

.offer-page-buy-button {
  width: 100%;
  height: 30px;
  background-color: #007580;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* SIGNUP */

/* .form-container {
  background-color: red;
} */

.form {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  max-width: 35%;
  margin: 0 auto;
  padding: 30px;
  min-height: 100vh;
}
.form h1 {
  /* background-color: red; */
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.form input {
  background-color: white;
  border: none;
  border-bottom: 1px #fcced3 solid;
  font-size: 16px;
  margin-bottom: 20px;
  height: 35px;
  vertical-align: bottom;
  display: flex;
  align-items: baseline;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #666666;
}

.newsletter {
  display: flex;
  gap: 20px;
}

.newsletter span {
  padding: 15px;
}

.checkbox {
  transform: scale(2);
}

.terms-and-condtions {
  font-size: 12px;
  color: #999999;
  margin-bottom: 20px;
  line-height: 16px;
}

.subscribe-button {
  font-size: 16px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-last-p {
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: #007580;
}

/* PUBLISH */

.publish-body-background-color {
  background-color: #ebedee;
}

.publish-form-container {
  display: flex;
  flex-direction: column;
}

.publish-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.publish-form-container h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.publish-form-picture-upload {
  background-color: white;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.dropzone-button {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #007580;
  background-color: white;
  color: #007580;
  cursor: pointer;
}

.dropzone-container span {
  color: #999999;
  font-size: 12px;
  margin-top: 15px;
}

.publish-form-picture-upload-dashed {
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  border: #ebedee 1px dashed;
  /* background-color: lightblue; */
}

.publish-form-add-picture {
  background-color: white;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #007580;
  color: #007580;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.publish-form-container-title-descritption {
  height: 225px;
  background-color: white;
  align-items: center;
}

.publish-form-title {
  display: flex;
  height: 75px;
  border-bottom: 1px solid #ebedee;
  align-items: center;
  padding: 0 20px;
}

.publish-form-title p {
  width: 50%;
}

.publish-form-title input {
  width: 50%;
  border: none;
  height: 30px;
  border-bottom: 1px solid #ebedee;
  /* background-color: red; */
}

.publish-form-title input:focus {
  border-bottom: 1px solid #007580;
}

.publish-form-description {
  display: flex;
  height: 150px;
  border-bottom: 1px solid #ebedee;
  padding: 20px 20px;
  /* background-color: lightblue; */
}

.publish-form-description p {
  width: 50%;
}
.publish-form-description textarea {
  width: 50%;
  border: none;
  height: 115px;
  border-bottom: 1px solid #ebedee;
  /* background-color: red; */
  vertical-align: bottom;
  font-family: "Roboto", sans-serif;
  resize: none;
}
.publish-form-description input:focus {
  border-bottom: 1px solid #007580;
}
.publish-form-details-container {
  height: 375px;
  background-color: white;

  align-items: center;
}

.publish-form-details {
  height: 75px;
  display: flex;
  border-bottom: 1px solid #ebedee;
  padding: 20px 20px;
}

.publish-form-details p {
  width: 50%;
}
.publish-form-details input {
  width: 50%;
  border: none;
  height: 30px;
  border-bottom: 1px solid #ebedee;
  /* background-color: red; */
}
.publish-form-details input:focus {
  border-bottom: 1px solid #007580;
  /* background-color: red; */
}

.publish-form-price-container {
  height: 130px;

  background-color: white;
  display: flex;
  padding: 20px 20px;
}

.publish-form-price-container p {
  width: 50%;
}

.publish-form-price-input-checkbox-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.publish-form-price-input-checkbox-container input {
  border: none;
  height: 30px;
  border-bottom: 1px solid #ebedee;
}

.publish-form-price-input-checkbox-container input:focus {
  border-bottom: 1px solid #007580;
}

.publish-form-checkbox-container {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 20px;
}

.publish-form-checkbox-container input {
  transform: scale(2);
}

.publish-form-add-button {
  background-color: #007580;
  border-radius: 5px;
  width: 80px;
  height: 45px;
  border: none;
  color: white;
  align-self: flex-end;
  margin: 50px 0;
  cursor: po;
}

/* FOOTER */

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: #f5f6f7;
  padding-top: 20px;

  width: 100vw;
}

footer span {
  font-weight: 900;
}
